*.largefileextension filter=lfs diff=lfs merge=lfs -text
logstash/jdk/lib/src.zip filter=lfs diff=lfs merge=lfs -text
logstash/vendor/bundle/jruby/2.5.0/gems/logstash-filter-geoip-7.2.12-java/vendor/GeoLite2-City.mmdb filter=lfs diff=lfs merge=lfs -text
